body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/resources/images/player/jump/jump3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0052f6;
}

canvas {
    border: 1px solid #fff;
}